
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.camera {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.result {
    margin-top: 10px;
}


.videoFrame{
    width: 100%;
    height: auto;
}

.captureButton {
    bottom: 10px;
    left: 10px;
    position: absolute !important;
}

.switchButton {
    bottom: 10px;
    left: 80px;
    position: absolute !important;
}

.canvas {
    width: 100%;
}