
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.buttonContainer {
    position: relative;
    margin-bottom: 20px;
}


.map{
    height: 500px;
}